{% extends "base/base.html" %}
{% block title %}Carta Virtual{% endblock %}
{% block style %}
<style>
  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
</style>
<link rel="stylesheet" href="{{ url_for('static', filename='./dist/css/index.css' ) }}">
{%endblock%}

{% block content %}

<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
  {%include 'helpers/header.html'%}
  <main class="container-sm px-4 py-4 text-center">
    {%include 'helpers/flash.html'%}

    <section class="py-5 text-center container pb-0 mb-0 w-100">
      <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto pb-0 mb-0">
          <h1 class="fw-light">Esto es para el buscador </h1>
          <p class="lead text-muted">buscador pues</p>
          <p>
            <a href="#" class="btn btn-primary my-2">Main call to action</a>
            <a href="#" class="btn btn-secondary my-2">Secondary action</a>
          </p>
        </div>
      </div>
    </section>

    <!--Modal detalle producto-->

    <div class="modal fade" id="detalleProducto" tabindex="-1" role="dialog" aria-labelledby="tituloModal">
      <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable" role="document">
        <div class="modal-content bg-dark">
          <div class="modal-header">
            <h4 class="modal-title text-uppercase" id="tituloModal">Error </h4>
            <button type="button" class="btn-close close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body ">
            <div class="container">
             <div class="row ">
                <div class="col-sm-4  ">
                  <p class="desc"></p>
                  <p class="cate"></p>
                  <p class="precio"></p>

                </div>
                <img src="..." class="imProd col-sm-8" alt="...">
                
              </div>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, animi!</p>

          </div>

          <div class="modal-footer text-end">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>



    <section>
      <div id="cards_landscape_wrap-2">
        <div class="container">
          <div class="row row-cols-1 row-cols-md-3 row-cols-lg-4 g-4 justify-content-center">


            <!--custom card produc 1 -->

            {% for empresa in empresas %}
            {% for detalle in empresa.productos %}
            <div class="col">
              <div class="card bg-dark hover-div" width="50%">
                <img src="{{detalle.imagen}}" class="card-img-top" alt="hollywood sign" width="90%" />
                <div class="card-body">
                  <h5 class="card-title">{{detalle.nombre}}</h5>
                  <!--     <p class="card-text">
                    {{detalle.descripcion}}
                  </p> -->

                  <ul class="d-flex list-unstyled mt-auto">
                    <li class="me-auto">
                      <img src="{{empresa.logoEmpresa}}" alt="" width="32" height="32"
                        class="rounded-circle border border-white">
                    </li>
                    <li class="d-flex align-items-center me-3">
                      <small>{{empresa.nombreEmpresa}}</small>
                    </li>
                    <li class="d-flex align-items-center me-3">
                      <small>{{empresa.direccionEmpresa}}</small>
                    </li>

                    <li class="d-flex align-items-center ">
                      <small>{{detalle.precio}}</small>
                    </li>
                  </ul>
                </div>
                <div class="card-footer">
                  <button class=" btn  stretched-link border-0 rounded-circle bg-danger"
                    onclick="hola({{detalle.producto_id}})" data-bs-toggle="modal">
                    <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor"
                      class="bi bi-plus-circle-fill " viewBox="0 0 16 16">
                      <path
                        d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z" />
                    </svg>
                  </button>
                </div>
              </div>
            </div>
            {% endfor %}
            {% endfor %}

          </div>

        </div>
      </div>

    </section>

  </main>
  {%include 'helpers/footer.html'%}

</div>


<script>
  async function hola(id) {
    console.log('click')
    const modalInfo = document.querySelector('#detalleProducto');
    const modalContent = modalInfo.querySelector('.modal-dialog .modal-content');

    const tituloModal = modalContent.querySelector('.modal-title');
    const img = modalContent.querySelector('.modal-body .imProd ');
    const desc= modalContent.querySelector('.modal-body .desc ')
    const cate = modalContent.querySelector('.modal-body .cate ')
    const precio = modalContent.querySelector('.modal-body .precio ')
    
    fetch(`/detalle-producto?id=${id}`)
      .then(res => res.json())
      .then((response) => {
        if (response['respuesta']) {
          data = response['response'];
          console.log(data);

          $(tituloModal).text(data['nombre'])
          $(img).attr('src', data['imagen'])
          $(desc).text(data['descripcion'])
          $(cate).text(data['categoria'])
          $(precio).text(formatterPeso.format(data['precio']))

        }
        console.log(response);
      })
      .catch(err => console.error(err))

    $(modalInfo).modal("show");


  }
  const formatterPeso = new Intl.NumberFormat('es-CO', {
    style: 'currency',
    currency: 'COP',
    minimumFractionDigits: 0
  })
</script>
{%endblock%}