{% extends "base/baseAdmin.html" %}
{% block title %}Registro Producto{% endblock %}
{% block style %}
  <style>
    .bd-placeholder-img {
      font-size: 1.125rem;
      text-anchor: middle;
      -webkit-user-select: none;
      -moz-user-select: none;
      user-select: none;
    }

    @media (min-width: 768px) {
      .bd-placeholder-img-lg {
        font-size: 3.5rem;
      }
    }
</style>
{%endblock%}

{% block content %}
<div
class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-0 border-bottom">
<h1 class="h2">Plantillas de nuevo </h1>
<a type="button" class="btn btn-success btn-floating" href="{{url_for('productoEmpresas')}}">
    <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor"
        class="bi bi-node-plus-fill" viewBox="0 0 16 16">
        <path
            d="M3 4.5h10a2 2 0 0 1 2 2v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v3a1 1 0 0 0 1 1h10a1 1 0 0 0 1-1v-3a1 1 0 0 0-1-1H3zM1 2a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 2zm0 12a.5.5 0 0 1 .5-.5h13a.5.5 0 0 1 0 1h-13A.5.5 0 0 1 1 14z" />
    </svg>

</a>
</div>
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column justify-content-center">
<form class=" container-sm px-4 py-4 mx-auto" action="{{url_for('productoRegistro')}}" method="post" enctype="multipart/form-data">
    {%include 'productos/forms/detalleProducto.html'%}
</form>

</div>

{%include 'helpers/footer.html'%}
{%endblock%}